importFrom(Rcpp, evalCpp)
useDynLib(RLCS, .registration = TRUE)

S3method("[",rlcs_population)
S3method(plot,rlcs_population)
S3method(print,rlcs_population)
S3method(print,rlcs_rule)

export(get_match_set)
export(reverse_match_set)
export(rlcs_demo_secret1)
export(rlcs_demo_secret2)
export(rlcs_mux6)
export(rlcs_predict_sl)
export(rlcs_predict_rl)
export(rlcs_rosetta_decode_rule)
export(rlcs_rosetta_stone)
export(rlcs_train_sl)
export(RLCS_hyperparameters)
importFrom("methods", "new")
importFrom("stats", "median")
exportClasses(RLCS_hyperparameters)
