exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(RLCS, .registration = TRUE)
S3method("[",rlcs_population)
S3method(plot,rlcs_population)
S3method(print,rlcs_population)
S3method(print,rlcs_rule)
export(get_match_set)
export(reverse_match_set)
export(rlcs_train_sl)
